.img_1{
    width: 80px;
    margin-top: 30px;
    border-radius: 40px;
}


#div_2{
    background-color: lightblue;
    height: 100%;
    margin-left: 33%;
    margin-top: -33%;
}

body{
    background-color: blue;
}